{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h2>Reviews</h2>
    {% if reviews %}
        <div class="row">
            {% for review in reviews %}
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card testimonial-card shadow">
                    <div class="card-body">
                        <!-- Star Rating -->
                        <div class="testimonial-rating mb-2 d-flex justify-content-between">
                            <small class="text-muted">Rating: {{ review.stars|safe }}</small>
                            <div>
                                {% if request.user.is_authenticated and request.user.is_staff %}
                                <a href="{% url 'edit_review' review.id %}?next={{ request.path }}" class="text-warning me-3"><i class="fa-solid fa-pen"></i></a>
                                <a href="{% url 'delete_review' review.id %}?next={{ request.path }}" class="text-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <p class="testimonial-text">"{{ review.content|truncatechars:80 }}"</p>
                        <hr>
                        <div class="w-100 d-flex justify-content-between align-items-center">
                            <p class="testimonial-author mb-0"><strong>{{ review.author }}</strong></p>
                            {% if review.content|length > 80 %}
                            <a class="text-warning text-decoration-none" href="#reviewModal" data-bs-toggle="modal" data-bs-target="#reviewModal" onclick="setModalContent('{{ review.content|escapejs }}')">Read More</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reviewModalLabel">Full Review</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" id="reviewModalBody">
                            <!-- Full review content will be set here by the JavaScript function -->
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="d-flex justify-content-center mt-4 ">
            {% if reviews.has_previous %}
                <a href="?page={{ reviews.previous_page_number }}" class="btn btn-primary me-2"><i class="fa-solid fa-chevron-left"></i></a>
            {% endif %}
            <span class="current-page btn text-warning fw-bold">{{ reviews.number }}</span>
            {% if reviews.has_next %}
                <a href="?page={{ reviews.next_page_number }}" class="btn btn-primary ms-2"><i class="fa-solid fa-chevron-right"></i></a>
            {% endif %}
        </div>

    {% else %}
        <p>No reviews yet.</p>
    {% endif %}
</div>

<script>
    function setModalContent(content) {
        document.getElementById('reviewModalBody').innerText = content;
    }
</script>
{% endblock %}
