{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <!-- Profile Image & Update Form Section -->
        <div class="col-md-4 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    {% if request.user.profile.get_image_url %}
                    <img src="{{ request.user.profile.get_image_url }}" alt="Profile Image" style="max-width: 150px; max-height: 150px; width: auto; height: auto;" class="img-fluid rounded-circle mb-3">
                    {% endif %}
                    <h3 class="card-title">{{ request.user.username }}</h3>
                    <!-- Update Image Form -->
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            {% if form.image.errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.image.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                                <label for="id_image" class="form-label">Please select an image to upload</label>
                            {% else %}
                                <label for="id_image" class="form-label">Choose a file to update image</label>
                            {% endif %}
                            <input type="file" class="form-control" id="id_image" name="image">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2 w-100">Upload</button>
                    </form>

                    <!-- Remove Image Button -->
                    <form method="POST" action="{% url 'profile-remove-image' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger w-100">Remove Image</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Admin Actions: Projects and Reviews Management -->
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    <h4>Manage Projects</h4>
                </div>
                <div class="card-body">
                    <a href="" class="btn btn-success mb-3">Add New Project</a>
                    <h5>My Projects</h5>
                    <!-- Placeholder for Project List -->
                    <ul class="list-group">
                        <!-- Project -->
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Project Name
                            <div>
                                <a href="" class="btn btn-sm btn-primary">Edit</a>
                                <a href="" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Reviews and rating -->
            <div class="card">
                <div class="card-header">
                    <h4>Manage Reviews</h4>
                </div>
                <div class="card-body">
                    <a href="{% url 'add_review' %}" class="btn btn-success mb-4">Add New Review</a>
                    <h5>My Reviews</h5>
                    {% if reviews %}
                        <div class="row">
                            {% for review in reviews %}
                                <div class="col-lg-6">
                                    <div class="card mb-3 shadow">
                                        <div class="card-body">
                                            <!-- Star Rating -->
                                            <div class="testimonial-rating mb-2 d-flex justify-content-between">
                                                <small class="text-muted">Rating: {{ review.stars|safe }}</small>
                                                <div>
                                                    {% if request.user.is_authenticated and request.user.is_staff %}
                                                    <a href="{% url 'edit_review' review.id %}?next={{ request.path }}" class="text-warning me-3"><i class="fa-solid fa-pen"></i></a>
                                                    <a href="{% url 'delete_review' review.id %}?next={{ request.path }}" class="text-danger">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <p class="testimonial-text">"{{ review.content|truncatechars:80 }}"</p>
                                            <hr>
                                            <div class="w-100 d-flex justify-content-between align-items-center">
                                                <p class="testimonial-author mb-0"><strong>{{ review.author }}</strong></p>
                                                {% if review.content|length > 80 %}
                                                <a class="text-warning text-decoration-none" href="#reviewModal" data-bs-toggle="modal" data-bs-target="#reviewModal" onclick="setModalContent('{{ review.content|escapejs }}')">Read More</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="reviewModalLabel">Full Review</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" id="reviewModalBody">
                                                <!-- Review content will be inserted here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a href="{% url 'review_list' %}" class="btn btn-primary mt-3">View All Reviews</a>
                    {% else %}
                        <p class="text-muted">No reviews yet.</p>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>
    function setModalContent(content) {
        document.getElementById('reviewModalBody').innerText = content;
    }
</script>
    
{% endblock %}
