/**********************************************************************/
/* Hero section */
#hero {
    height: 100vh;
    background-image: url('/static/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
}