/**********************************************************************/
/* Bootstrap color reset */
:root {
    --bs-primary: #007bff; /* Primary color */
    --bs-secondary: #6c757d; /* Secondary color */
    --bs-success: #28a745; /* Success color */
    --bs-danger: #dc3545; /* Danger color */
    --bs-warning: #F28123; /* Warning color */
    --bs-info: #17a2b8; /* Info color */
    --bs-light: #f8f9fa; /* Light color */
    --bs-dark: #051922; /* Dark color */
    --bs-text-color: #212529; /* Default text color */
    --bs-text-muted: #6c757d; /* Muted text color */
  }

/**********************************************************************/
/* Bootstrap css reset */
/* Custom Primary Button Styles */
.btn-primary {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
    color: var(--bs-light);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

/* Custom Secondary Button Styles */
.btn-secondary {
    background-color: transparent;
    border-color: var(--bs-warning);
    color: var(--bs-light);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
}

/* Button padding and font */
.btn-primary, .btn-secondary {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}

/**********************************************************************/
/* Hero section */
#hero {
    height: 100vh;
    background-image: url('/static/images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
}